.l-fwtable-container {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  height: 100%;

  .l-options {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 14px;

    .l-rightoption {
      display: flex;
    }
  }

  .l-formwrap {
    background: #ffffff;
    padding: 10px 14px;
    flex: 1;

    .l-addbtn {
      margin-bottom: 10px;
    }
  }

  .l-pagination {
    display: flex;
    align-items: center;
    padding-left: 14px;
    height: 63px;
    background: #ffffff;
    box-shadow: 1px -2px 4px 0px rgba(203, 205, 214, 0.5);
  }

  // :global {
    .ant-table-thead > tr > th {
      background: #f4f4f4 !important;
    }

    .ant-table-thead > tr > th::before {
      content: none !important;
    }

    .ant-table-thead > tr > th {
      background: #f4f4f4 !important;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 16px;
      letter-spacing: 1px;
    }

    .ant-table-body {
      overflow: auto !important;
      // padding: 5px 0;
    }

    .ant-table-tbody > tr > td {
      // font-size: 14px;
      // font-family: PingFangSC-Semibold,
      //   PingFang SC;
      // font-weight: 600;
      // color: #666666;
      line-height: 16px;
      padding: 11px 16px;
      background: #ffffff !important;
    }
  // }
}
